<!DOCTYPE html>
<!--
Proyecto : Allways
Autor    : Tsyacom Ltda.
Fecha    : Martes, 4 de marzo de 2014
-->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    </head>
    <body bgcolor="#FFFFFF" style="width:100%!important; height:100%;">

        <table style="width:100%;" bgcolor="#FFFFFF">
            <tr>
                <td></td>
                <td >
                    <div style="padding:15px;max-width:700px;margin:0 auto;display:block;">
                            <table bgcolor="#FFFFFF" style="width: 100%">
                            <tr>
                            <td><b style="font-family:'Tahoma','sans-serif'; letter-spacing:-.35pt; font-size:16pt;" >Recupera contrase&ntilde;a</b></td>
                            <td align="right"></td>
                            </tr>
                            </table>
                    </div>
                </td>
                <td></td>
            </tr>
        </table> <br>



        <table style="width:100%;" bgcolor="#FFFFFF">
            <tr>
                <td></td>
                <td >
                    <div style="padding:15px;max-width:700px;margin:0 auto;display:block;">
                        <table bgcolor="#ebebeb" style="width: 100%; border:solid #cccccc 1.0pt;">
                        <tr>
                            <td style="padding:15px;">
                                <span style="font-family:'Tahoma','sans-serif'; /*letter-spacing:-.35pt;*/ font-size:10.5pt;">
                                    Nombre: <strong>{nombre}</strong><br/>
                                    Usuario:  <strong>{user}</strong><br/>
                                    Contrase&ntilde;a: <strong>{pass}</strong><br/>
                                </span>
                            </td>
                        </tr>
                        </table>
                    </div>
                </td>
                <td></td>
            </tr>
        </table>



        <br>



    </body>
</html>